#d1{
    
    position: relative;
    left: 400px;
    width:650px;
    
    top:250px;   
}
#h1{
    color:black;
    position: relative;
    margin-left: 400px;

}
#b{
    position: fixed;
    bottom:0;
    width: 100%;
    }
    
    #t{
        position: fixed;
        top:0;
        width: 100%;
    }

#s1{
    
    position: relative;
    
    height: 90px;
    left:400px;
}

#s2{
    background-color:darkkhaki;
}