

    <h1 style="text-align: center;">Welcome Home Loan Features Page!!!</h1>
    <nav id="t" class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Home</a>
            <a class="nav-item nav-link" routerLink="/aboutus">About Us</a>
            <a class="nav-item nav-link" routerLink="/customerlogin">Apply Now</a>
            <a class="nav-item nav-link" routerLink="/customerlogin">Login</a>
            <a class="nav-item nav-link" routerLink="/calculators">Calculators</a>
            <a class="nav-item nav-link" routerLink="/faq">FAQ</a>
          </div>
      </nav>
    
<ul class="list-group">
    <li class="list-group-item" style="text-align: center; ">Features</li>
  
    
    <li class="list-group-item list-group-item-primary"   style="text-align: center; ">Low Interest Rates</li>
    <li class="list-group-item list-group-item-secondary" style="text-align: center; ">Low Processing Fee</li>
    <li class="list-group-item list-group-item-success" style="text-align: center; ">No Hidden Charges
    </li>
    <li class="list-group-item list-group-item-danger" style="text-align: center; ">No Pre Payment Penalty</li>
    <li class="list-group-item list-group-item-warning" style="text-align: center; ">Interest charges on Daily Reducing Balance</li>
    <li class="list-group-item list-group-item-info" style="text-align: center; ">Repayment up to 30 years</li>
    <li class="list-group-item list-group-item-light"style="text-align: center; ">Home Loan Available as Overdraft</li>
    <li class="list-group-item list-group-item-dark" style="text-align: center; ">Interest Concession for Women Borrowers</li>
  </ul>
  
  <nav id="b" class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
     
        <a class="nav-item nav-link" routerLink="/calculators">Calculators</a>
        <a class="nav-item nav-link" routerLink="/documents">Documents</a>
    </div>
    </nav>
