form{
    position:relative;
    margin-top: 90px;
    margin-bottom: 200px;
    margin-left: 300px;
    margin-right: 300px;
    /* left:300px;
    right:300px;
    top:70px; */
}

section{

    position:relative;
    left:40px;
}
#b{
    position: fixed;
    bottom:0;
    width: 100%;
    }
    
    #t{
        position: fixed;
        top:0;
        width: 100%;
    }