<nav id="t" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/adminloginscreen">Back</a>
      
    </div>
</nav>
<section>

<form [formGroup]="abc">
    <h3>Admin Reset Password, for Home Loan Portal</h3><br><br>
    <i>Admin, to change password kindly fill the following details:-  :</i><br><br>
    <label>Enter Admin ID  :- </label>
        <input type="text" class="form-control" formControlName="addid"><br>
        
    
      <label>Enter Email ID :- </label>
      <input type="text" class="form-control" formControlName="addem">
         
        <br>
    
        <button class="btn btn-danger"  (click)="changeStatus()">Verify</button>
        
</form>
<section>
<div *ngIf="result">
gone for verifcation..
<hr color="black">

<form [formGroup]="passmatch">
    <label>Enter New Password  :- </label>
        <input type="text" class="form-control" formControlName="pass1"><br>
    
      <label>Re-Type New Password:- </label>
      <input type="text" class="form-control" formControlName="pass2">
         
        <br>
    
        <button class="btn btn-danger" (click)="changePassword()">Verify</button>
        <div *ngIf="res">
            Password Changed, Successfully !
        </div>

    </form>

    
</div>  

</section>
