<nav id="t" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/aboutus">About Us</a>
      <a class="nav-item nav-link" routerLink="/customerlogin">Apply Now</a>
      <a class="nav-item nav-link" routerLink="/customerlogin">Login</a>
    
      <a class="nav-item nav-link" routerLink="/faq">FAQ</a>
    </div>
</nav>
<div id="calc">
<div class="list-group">
    <a href="#" class="list-group-item active">Calculators</a>
    <a routerLink="/eligiblitycalculator" class="list-group-item">Eligiblity Calculator</a>
    <a routerLink="/emicalculator" class="list-group-item">EMI calculator</a>
  </div></div>

  <nav id="b" class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/features">Features</a>
       
        <a class="nav-item nav-link" routerLink="/documents">Documents</a>
    </div>
    </nav>
