<div class="about-section">
    <h1>About Us</h1><br>
    <p>Home Loans is the largest Mortgage Lender in India, which has helped over 3 lakh families to achieve the dream of owning a home.</p>

  </div>
  <nav id="t" class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>

        <a class="nav-item nav-link" routerLink="/customerlogin">Apply Now</a>
        <a class="nav-item nav-link" routerLink="/customerlogin">Login</a>
        <a class="nav-item nav-link" routerLink="/calculators">Calculators</a>
        <a class="nav-item nav-link" routerLink="/faq">FAQ</a>
      </div>
  </nav>
  <br>
  <div class="row">
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Our Values</h2>
          <p>Trust</p>
          <p>Transparency</p>
          <p>Integrity</p>
          <p>Excellence</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
      
        <div class="container">
            <h2>Values to customer</h2>
            <p> Wide Product Range</p>
            <p> Interest Calculation on Daily Reducing Balance</p>
            <p> Overdraft Facility available</p>
            <p>Low Interest Rates</p>
            <p>Low Processing Fees</p>
            <p>No Hidden Costs</p>
            <p>No Pre-payment penalty</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
            <h2>Our Presence</h2>
            <p> 24,000+ branches</p>
            <p> 1600+ member strong dedicated Sales Team</p>
        </div>
      </div>
    </div>
    <div class="column">
        <div class="card">
          
          <div class="container">
              <h2>Recognitions
                
                </h2>
              <p>Winner of the “Best Home Loan Provider “at the CNBZ Awaaz Real Estate Awards 2016</p>
              
          </div>
        </div>
      </div>
  </div>
  <nav id="b" class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/features">Features</a>
        <a class="nav-item nav-link" routerLink="/calculators">Calculators</a>
        <a class="nav-item nav-link" routerLink="/documents">Documents</a>
    </div>
    </nav>

