section{
    top:20px;
    position:relative;
    left:250px;
    width:700px;

}

#b{
    position: fixed;
    bottom:0;
    width: 100%;
    }
    
    #t{
        position: fixed;
        top:0;
        width: 100%;
    }
#e{
    position: relative;
    left:200px;
    width:830px;
}

table{
    border:1px solid black;
    padding: 1px;
    border-spacing: 5px;
}
td,th{
    padding: 5px;
    text-align: left;
}