<nav id="t" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Back to home</a>
      
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
  </nav>


<div id="account">
<h3><b>Welcome To Home Loan</b> </h3>
<br><br>
<nav id="n" class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
    
      <li class="nav-item">
      <a class="nav-link" routerLink="/customerviewapp"><b>View Submitted Application</b></a></li><br><br>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/customerviewloanstatus"><b>View Your Loan Application Status</b></a></li><br>

        <li class="nav-item">
            <a class="nav-link" routerLink="/customerviewaccount"><b>View Your Account Details</b></a></li><br>
</ul>
    </nav>
    </div>

