#calc{
    margin-top: 90px;
    margin-bottom: 200px;
    margin-left: 300px;
    margin-right: 300px;
}
#b{
    position: fixed;
    bottom:0;
    width: 100%;
    }
    
    #t{
        position: fixed;
        top:0;
        width: 100%;
    }