<h3>
  <b>Terms and Conditions</b></h3>
  
<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Read all the clauses mentioned in the loan agreement well in advance before you apply for loan.</li>
        <li class="list-group-item">Approval of loan is solely dependent to user eligiblity and bank.In case of disputes, bank's decision will be final decision</li>
        <li class="list-group-item">Banks are allowed to change the fixed interest rates under exceptional circumstances or change in bank’s internal policies.</li>
        <li class="list-group-item">Default for a home loan may refer to buyer’s inability to pay his EMI on time. Such grounds may include death of borrower, change in employment status or resignation from current job, involved in any civil litigation or a criminal offence, borrower staying out of India for an extended period</li>
        
      </ul><br>
      <!-- <mat-checkbox [(ngModel)]="checked">I agree Terms & Conditions</mat-checkbox><br> -->
<button class="btn btn-success" (click)="close()" routerLink="/applicationStatus" type="submit" >Agree and Submit</button>&nbsp;&nbsp;
<button class="btn btn-danger" (click)="close()" style="margin:5px;">Cancel</button>
<!-- <button><a routerLink="/propertydetails">Next</a></button> -->
      <!-- <input type="checkbox" id="agree" name="agree" value="true">
      <label for="agree"> I accept the terms and conditions</label><br>      
      
    <button class="btn btn-success" (click)="agree()" style="margin:5px;">Accept</button> -->
    <!-- (click)="submit()" -->
</div>

<!-- <mat-checkbox >I agreeTerms & Conditions</mat-checkbox> -->
