
<div class="about-section">
    <h1>Welcome to Home Loan Application</h1><br>
    <p>Home Loans is the largest Mortgage Lender in India, which has helped over 3 lakh families to achieve the dream of owning a home.</p>
</div>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/aboutus">About Us</a>
      <a class="nav-item nav-link" routerLink="/customerlogin">Apply Now</a>
      <a class="nav-item nav-link" routerLink="/customerlogin">Login</a>
      <a class="nav-item nav-link" routerLink="/calculators">Calculators</a>
      <a class="nav-item nav-link" routerLink="/faq">FAQ</a>
    </div>
</nav>
      <!--<a class="nav-item nav-link" routerLink="/calculators">Calculator</a>-->

      <!-- <div class="dropdown">
        <button class="dropbtn">Dropdown
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> -->

      <!-- <div class="dropdown">
        <button class="dropbtn">Calculators
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a class="nav-item nav-link" routerLink="/calculators">EmiCalculator</a>
          <a href="">Link 2</a>
        </div>
      </div> -->
  
<div>

  <img src="../../assets/home-loan.2.jpg" height="80%" width="100%" >
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/features">Features</a>
        <a class="nav-item nav-link" routerLink="/calculators">Calculators</a>
        <a class="nav-item nav-link" routerLink="/documents">Documents</a>
    </div>
    </nav>


<!-- main content container -->
<!-- <div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div> -->


