section{
    width:500px;
    top:100px;
    left:420px;
    position: relative;
}
#reset{
    width:500px;
    top:100px;
    left:420px;
    position: relative;
}
#b{
    position: fixed;
    bottom:0;
    width: 100%;
    }
    
    #t{
        position: fixed;
        top:0;
        width: 100%;
    }