<nav id="t" class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/customerlogin">Back to Login</a>
        
       
    </div>
    </nav>
<section>
    <form [formGroup]="cusverify">
        <h3><b>Password reset</b></h3><hr>
        <i>To reset password kindly fill the following details given at the time of Registeration :</i><br><br>
        <label >Enter Email ID  : </label>
            <input type="text" class="form-control" formControlName="cusid"><br>
        
          <label>Contact Number : </label>
          <input type="text" class="form-control" formControlName="cusem">
             
            <br>
        
            <button class="btn btn-danger" (click)="verifyContact()">Verify And Reset</button>
            
    </form>
    
    </section>
    
    <div id="reset">
    <br>
    <div *ngIf="result==1">
  

    <!-- <div *ngIf="result==0">
        Enter Valid email address and phone number -->
    <hr color="black">
    
    <form [formGroup]="Cpassmatch">
        <label>Enter New Password  : </label>
            <input type="password" formControlName="pass1"><br>
        
          <label>Re-Type New Password: </label>
          <input type="password" formControlName="pass2">
             
            <br>
        
            <button class="btn btn-danger btn-sm" (click)="changePassword()">Reset</button>
            
        </form>
    <br>
        <div *ngIf="res==1">
            Password Changed Successfully !
           <a routerLink="/customerlogin"><b>Login in here</b></a>

        </div>
        <div *ngIf="res==0">
            Reset password failed!!!  Try again
        </div>
    </div> 
    <div *ngIf="result==0">
        Enter Valid email address and phone number
    <hr color="black"></div> 
</div>


