<nav id="t" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/aboutus">About Us</a>
      <a class="nav-item nav-link" routerLink="/customerlogin">Apply Now</a>
      <a class="nav-item nav-link" routerLink="/customerlogin">Login</a>
      <a class="nav-item nav-link" routerLink="/calculators">Calculators</a>
      <a class="nav-item nav-link" routerLink="/faq">FAQ</a>
    </div>
</nav>
<div id="account">
<h3 style="text-align: center;"><b>Documents Required For Loan Application</b></h3><br/><br/>

<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Pan Card
      <span class="badge badge-primary badge-pill">High Priority</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Voter id
      <span class="badge badge-primary badge-pill">High Priority</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Salary Slip
      <span class="badge badge-primary badge-pill">High priority</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        LOA
      <span class="badge badge-primary badge-pill">High priority</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
       
       NOC from Builder
      <span class="badge badge-primary badge-pill">High priority</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Agreement To Sale
      <span class="badge badge-primary badge-pill">High priority</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Bank Account Statement
    <span class="badge badge-primary badge-pill">High priority</span>
  </li>
  </ul>
  
</div>
<nav id="b" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/features">Features</a>
      <a class="nav-item nav-link" routerLink="/calculators">Calculators</a>
      
  </div>
  </nav>
